<div class="underline">
    <header class="container">
        <nav class="nav-flex">
            <div>
                <a href="#" routerLink="/" routerLinkActive="active">
                    <img class="logo" src="../../assets/logo.png" alt="კერკეტი" />
                </a>
            </div>
            <div class="nav-right">
                <ul class="ul-flex">
                    <li>
                        <a href="#" routerLink="/about" routerLinkActive="active">რა არის კერკეტი</a>
                    </li>
                    <li>
                        <a href="#" routerLink="/use" routerLinkActive="active">როგორ მუშაობს</a>
                    </li>
                    <li>
                        <a href="#" routerLink="/rule" routerLinkActive="active">სისტემის წესები</a>
                    </li>
                    <li>
                        <a href="#" routerLink="/contact" routerLinkActive="active">კონტაქი</a>
                    </li>
                </ul>
                <div class="toggle">
                    <label>
                        <input type="checkbox">
                        <span class="check"></span>
                    </label>
                </div>
            </div>
        </nav>
    </header>
</div>