<div class="background">
    <div class="container">
        <div class="contact">
            <div class="contact-width">
                <h1>კონტაქტი</h1>
                <p>ცხელი ხაზი: (032) 22 91122</p>
                <p>
                    ელ.ფოსტა: info@kerketi.ge
                </p>
                <p>
                    www.facebook.com/kerketi
                </p>
                <p>
                    Skype: kerketi.ge
                </p>
                <p>
                    ჩვენი მისამართია:
                </p>
                <p>
                    ს.ს. “მობაილ ფაინენს სერვის – ჯორჯია”
                </p>
                <p>
                    საქართველო, თბილისი – 0102, კოტე მარჯანიშვილის ქუჩა N 5
                </p>
            </div>
        </div>
    </div>
</div>